a{
  display: inline-block;
}
img{
  vertical-align: bottom;
}
.toppage{
  font-family: 'Raleway','Lato'
}
.inner {
  text-align: center;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.header {
  background-color: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__icon__pc {
  background-color: #74cfae;
  color: #fff;
  padding:  14px 12px;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.3s;
}
.header__icon__sp {
  display: none;
}
.header__icon__pc:hover {
  color: #333;
}
.header{
  position: sticky;
  top:0;
  width: 100%;
  z-index: 2;
}
/*ここからmain*/
.main__color {
  background-color: #f2f2f2;
}
.title__inner {
  padding-top: 250px;
  padding-bottom: 250px;
}
.main__text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}
.main__subtext {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/*ここからmain__section*/
.section__iphone {
  background-color: #74cfae;
}
.iphone__box {
  display: flex;
  padding-top: 50px;
}
.inner__iphone {
  margin-left: 100px;
}
.title__iphone{
  color: #fff;
  font-size: 24px;
}
.text__iphone {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
}
/*ここからmain__article*/
.article__gridbox{
  background-color: #f2f2f2;
}
.gridbox__all{
  padding-top:60px;
  padding-bottom: 70px;
}
.header__article {
  font-size: 24px;
}
.grid__list{
  display: flex;
  font-size: 0;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 40px;
}
.grid__list>li{
  margin-right: 100px;
}
.hover__grid{
  opacity: 0.7;
  transition: all 0.3s;
}
.hover__grid:hover {
  opacity: 1;
}
.grid__list>li:nth-child(3n) {
  margin-right: 0;
}
.grid__list>li:nth-child(n+4) {
  margin-top:80px;
} 
.grid__afterbox {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.email__box {
  background-color: #74cfae;
  color: #fff;
  padding: 14px 12px;
  margin-left: 90px;
  text-decoration: none;
  transition: color 0.3s;
}
.email__box:hover {
  color: #333;
}
.grid__text {
  font-size: 15px;
  width: 500px;
}
/*ここからsection-select*/
.section__select {
  background-color: #4e4e4e;
}
.select__box {
  display: block;
  padding-top: 70px;
  padding-bottom: 100px;
}
.header__select {
  color: #fff;
  font-size: 24px;
  margin-bottom: 50px;
}
.select__content {
  display: flex;
  justify-content: center;
  list-style: none;
}
.select__content>li {
  margin-left: 180px;
}
.select__content>li:first-child {
  margin-left: 0;
}
.circle__text{
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}
/*ここからnav__sns*/
.nav__sns{
  background-color: #f2f2f2;
}
.sns__icon {
  display: flex;
  justify-content: center;
}
.sns__icon{
  padding-top: 200px;
  padding-bottom: 200px;
}
.my__color {
  color: #74cfae;
}
.hover__sns{
  width: 185px;
  padding-top: 45px;
  padding-bottom: 45px;
  transition: all 0.3s;
}  
.hover__sns:hover {
  background-color: #fff;
  opacity: 1;
}
/*ここからfooter*/
.footer{
  background-color: #74cfae;
}
.footer__inner{
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer__text{
  color: #fff;
}

/*pad&sp*/

@media screen and (max-width:1199px ){
  
  .inner {
    width: 97%;
  }
  .iphone__box {
    display: block;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .inner__iphone {
    margin-left: 0;
    margin-top:20px;
  }
  .header__article{
    margin-bottom: 40px;
  }
  .grid__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 0px;
  }
  .grid__list>li {
    margin-right: 0;
  }
  .grid__list>li:nth-child(n+4) {
    margin-top: 0;
  }
  .grid__list>li:nth-child(4n) {
    margin-top: 80px;
  } 
  .grid__afterbox {
    display: block;
    margin-top: 80px;
  }
  .email__box {
    margin: 0 auto;
    width: 80px;
  }
  .grid__text {
    margin: 0 auto;
    margin-bottom: 40px;
    width: auto;
    }
  .select__content {
    display: block;
  }
  .select__content>li {
    margin-left: 0;
    margin-bottom: 88px;
  }
  .select__content>li:last-child{
    margin-bottom: 0;
  }

/*pad
@media screen and (min-width: 768px) and (max-width:1199px ) {
}*/
/*sp*/
@media screen and (max-width: 767px) {
  
  .header__icon__pc {
    display: none;
  }
  .header__icon__sp{
    display: block;
    width: 43px;
    border: 1px solid #ddd;
    border-radius: 4px;;
    float: right;
    box-sizing: border-box;
    padding: 10px;
  }
  .icon{
    display: block;
    height: 2px;
    background-color: #ddd;
    margin-right: 0px;
    margin-bottom: 4px;
    box-sizing: border-box;
    }
  .icon:last-child {
    margin-bottom: 0;
  }
  .title__inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .main__text {
    font-size: 80px;
  }
  .main__subtext { 
    margin-top:20px;
    font-size: 30px;
  }
  .sns__icon{
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .hover__sns{
    width: 100%;
  }
}
}